<div id="tweets">
  <% if tweets.count > 0 %>
    <% tweets.each do |tweet| %>
      <div class='tweet' id="<%= tweet.uid %>">
        <div class='tweet-profile'>
          <%= image_tag(tweet.user['profile_image_url_https']) %> <span><b><%= tweet.user['name'] %></b></span> <span>@<%= tweet.user['screen_name'] %></span> - <span><%= tweet.created_at.to_date.strftime("%b %d %Y") %></span>
        </div>
        <div class='tweet-content'>
          <p id="tweet_<%= tweet.uid %>_description"><%= tweet.text %></p>
          <% if tweet.entities['media'] %>
            <% tweet.entities['media'].each do |media| %>
              <%= image_tag(media['media_url_https'], height: media['sizes']['thumb']['h'], width: media['sizes']['thumb']['w']) %>
            <% end %>
          <% end %>
          <br />
          <span>Retweets: <%= tweet.retweet_count %></span> - <span>Likes: <%= tweet.favorite_count %></span>
        </div>
      </div>
    <% end %>
  <% else  %>
    <% if current_user %>
      <div class='tweet' id="no-tweets" style="display: none;">
        <div style="text-align: center;width: 100%;height: 100px;line-height: 100px;">
          <p>No tweets Available</p>
        </div>
      </div>
    <% else %>
      <div class='tweet' id="no-tweets">
        <div style="text-align: center;width: 100%;height: 100px;line-height: 100px;">
          <p>Please login to view your tweets</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>